.dir {
    color: red;
    background-color: green;
    font-size: 100px;
    text-align: center;
    background-size: 100px;
    width: fit-content;
    font-size: 10em;
}

.text-rem {
    font-size: 1.5rem;
}

.drumz {
        /* HEX */
background-color: #3498db; /* Синий цвет */
    width: 50%;

}

div {
    background-color: rgb(38, 0, 255);

   
    font-size: xx-large;
}

li {
    /* RGBA */
    background-color: rgba(219, 52, 52, 0.7);
    /* Semi-transparent blue color */
    font-size: xx-large;
}