.tota:focus{
border: 10px; color: rgb(255, 140, 0) solid;
}
.kai:hover{
background-color: blue; 
}
.totua:first-child{
color: brown;
}
.totua:last-child{
background-color: aqua;
}

.skiy:focus{
background-color: black;
}

.bosnov:first-child{
color: violet;
}
.bosnov:last-child{
color: rgb(255, 0, 21);
}

a:hover{
color: red;
}
.Minichursey:first-child:hover{
color: blueviolet;
}
.Minichursey:last-child:hover{
background-color:aquamarine;
}

.Minichursey:first-child:focus{
color: rgb(43, 226, 73);
}
.Minichursey:nth-child(even):active{
color:red;
}