.Garou {
   color: rgb(73, 226, 43);
   padding: 20px;
   border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
   text-align: center;
   font-size: 100px;
   text-align: center;
}
h1 {
   font-weight: 900px;
}
.container {   
   background-image: url('background.jpg');
    width: 2000px;
   height: 1000px;
}
div{
   background-color: rgb(255, 0, 0);
   font-size: 72px;
   color:rgb(60, 255, 0);
   padding: 40px;
   border: 8px solid green;
   margin: 10px;
   
}
.Blast {
   width: 100px;
   height: 200px;
   overflow:scroll;
}



   

